@model User
@{
    ViewData["Title"] = "Пользователи";
    var workplacelist = ViewData["workplaces"] as List<Workplace>;
    var adusers = ViewData["adusers"] as List<ADUser>;
    var printers = ViewData["printers"] as List<Printer>;
}
    
<form method="post" asp-controller="User" asp-action="UserAdd">
    <div class="p-2 bd-highlight">
        <h3>Редактирование пользователя</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="Name" placeholder="Имя">
            <label asp-for="Name">Имя</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="SurName" placeholder="Фамилия">
            <label asp-for="SurName">Фамилия</label>
            <span asp-validation-for="SurName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="Position" placeholder="Должность">
            <label asp-for="Position">Должность</label>
            <span asp-validation-for="Position" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="Bitrix" placeholder="Битрикс">
            <label asp-for="Bitrix">Битрикс</label>
            <span asp-validation-for="Bitrix" class="text-danger"></span>
        </div>
        <div class="input-group">
            <div class="form-floating">
                <select class="form-select js-action-select"
                        asp-for="ADUserId"
                        asp-items="@(new SelectList(adusers, "Id", "Cn"))">
                    <option value="">-- Не выбран --</option>
                </select>
                <label asp-for="ADUserId">Выберите пользователя в AD</label>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-info d-flex align-items-center btn-open-child-modal"
                    asp-area="" asp-controller="User" asp-action="ADUserUpdate"
                    title="Добавить">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </div>
        </div>
        <div class="form-floating">
            <select class="form-select"
                    asp-for="WorkplaceId"
                    asp-items="@(new SelectList(workplacelist, "Id", "Name"))">
                <option value="">-- Не выбрано --</option>
            </select>
            <label asp-for="WorkplaceId">Выберите рабочее место</label>
        </div>
        <div class="input-group">
            <div class="form-floating">
                <select class="form-select js-action-select"
                        asp-for="PrinterId"
                        asp-items="@(new SelectList(printers, "Id", "PrinterName"))">
                    <option value="">-- Не выбран --</option>
                </select>
                <label asp-for="PrinterId">Выберите принтер</label>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-info d-flex align-items-center btn-open-child-modal"
                    asp-area="" asp-controller="Printer" asp-action="PrinterAdd"
                    title="Добавить">
                    <i class="bi bi-plus-lg"></i>
                </a>
                <a class="btn btn-outline-warning d-flex align-items-center disabled btn-open-child-modal js-btn-edit"
                    data-url-template="@Url.Action("PrinterEdit", "Printer", new { id = "0" })"
                    title="Редактировать">
                    <i class="bi bi-pencil"></i>
                </a>
                <a class="btn btn-outline-danger js-btn-delete d-flex align-items-center btn-trigger-delete disabled"
                    data-url-template="@Url.Action("PrinterDelete", "Printer", new { id = "0" })"
                    title="Удалить">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </div>
    </div>
</form>
